@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --primary: 238 59% 49%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 239 40% 95%;
    --secondary-foreground: 238 59% 49%;
    
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 239 40% 95%;
    --accent-foreground: 238 59% 49%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;

    --radius: 0.75rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-inter);
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk);
}
