@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --primary: 220 13% 15%; /* #25272A */
    --primary-foreground: 0 0% 100%;
    
    --secondary: 220 14% 97%; /* #F8F8F9 */
    --secondary-foreground: 220 13% 15%;
    
    --muted: 220 14% 97%;
    --muted-foreground: 220 9% 46%;
    
    --accent: 220 14% 97%;
    --accent-foreground: 220 13% 15%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 220 13% 91%;

    --radius: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 220 13% 15%;
    --foreground: 0 0% 100%;
  }
}

body {
  font-family: var(--font-inter);
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk);
  color: rgb(37, 39, 42);
}
